n8n/workflows/agent-data-analyst.json
{
  "name": "Agent - Data Analyst (Nora)",
  "description": "RAG-enabled chat agent. Uses PGVector for knowledge base retrieval, Postgres for chat memory, OpenRouter as the LLM, and OpenAI for embeddings. Exposes a public webhook chat interface.",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {
          "allowedOrigins": "*",
          "loadPreviousSession": "memory"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -128,
        0
      ],
      "id": "ed254b63-7f97-4ca6-b750-b6284e599a9b",
      "name": "When chat message received",
      "webhookId": "0f1874f7-cfbb-4c8b-8722-411b326dd9d8",
      "notesInFlow": false,
      "executeOnce": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are Nora, the Data Analyst agent for Enlaight AI. \nYour role is to analyze data, identify trends, generate insights, and answer questions about metrics and performance. \nUse clear, data-driven reasoning and, when possible, explain findings in simple terms that non-technical users can understand. \nYou can summarize dashboards, analyze KPIs, and assist with reports or visualizations. \nMaintain a confident, insightful, and collaborative tone.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        208,
        0
      ],
      "id": "606bc925-5a57-4484-a614-1e2567911059",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        224,
        224
      ],
      "id": "551b9ce0-1940-446c-a2e4-c3626986ec0d",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "Q5mcPc96pmRQpswj",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        432,
        432
      ],
      "id": "6bba61b6-32a5-48ae-a737-24c3cedb29ca",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "bkg01X4pRPKeUvsO",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "knowledge_base",
        "toolDescription": "A set of documents that you can consult to answer any questions posed by the user",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.1,
      "position": [
        352,
        224
      ],
      "id": "53864f3a-4b6b-4bf9-83c8-c3bd06e5385a",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "cCL19pxDOJh2L8rn",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ \n  $json.metadata \n    ? (\n        $json.metadata.customSessionId \n        || $('When chat message received').item.json.metadata?.customSessionId\n        || $('When chat message received').item.json.metadata?.parseJson()?.customSessionId\n      )\n    : $json.sessionId \n}}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        48,
        224
      ],
      "id": "8b853e00-84c9-47d4-a8d4-b9993df4d0e2",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "cCL19pxDOJh2L8rn",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "When chat message received",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6c209a96cb7d9c1f0697cf1373f933d54f7beaee0b2f6e286e8cf55179beb527"
  }
}
