n8n/workflows/delete-files-kb.json
{
  "name": "Delete Files - KB",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "DELETE",
        "path": "webhook/kb/file/delete",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -500,
        180
      ],
      "id": "7eff55ab-067f-4f58-9081-6d2e8903ded1",
      "name": "Webhook",
      "webhookId": "ad51ca46-9a33-4c3d-979c-566c33ec64f7",
      "credentials": {
        "httpHeaderAuth": {
          "id": "vUzVjEyp7o7am56J",
          "name": "n8n API"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select count(*) from enlaight_knowledge_bases where hash_id = '{{ $json.body.hash_id }}';\n\n  -- select * from n8n_vectors;\n-- select * from n8n_vector_collections;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -260,
        180
      ],
      "id": "9dda6c69-6d04-4742-ab52-262f4c572292",
      "name": "vector_store1",
      "credentials": {
        "postgres": {
          "id": "cCL19pxDOJh2L8rn",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"file_removed\": \"{{ $('Webhook').item.json.body.file }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        500,
        60
      ],
      "id": "d43208d9-2717-4490-890c-07a926dab9b4",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e928902e-f8b6-4e16-94c0-f9e7cdb3d4e2",
              "leftValue": "={{ Number($json.count) }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -20,
        180
      ],
      "id": "1b18f7a8-ae0b-4246-89ed-a606fc69ac83",
      "name": "If1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"error\",\n  \"reason\": \"knowledge base does not exist\"\n}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        280,
        300
      ],
      "id": "c0b142aa-196e-4aa4-b3a2-619d8d095620",
      "name": "respond_error_kb_does_not_exists"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM n8n_vectors v\nUSING n8n_vector_collections c\nWHERE v.collection_id = c.uuid\n  AND v.metadata ? 'original_file_name'\n  AND NULLIF(trim(v.metadata->>'original_file_name'), '') IS NOT NULL\n  AND c.name = '{{ $('Webhook').item.json.body.hash_id }}'\n  AND v.metadata->>'original_file_name' = '{{ $('Webhook').item.json.body.file }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        280,
        60
      ],
      "id": "99d2cdf5-baba-4eed-9715-1771c69e8b31",
      "name": "check_if_file_already_indexed",
      "credentials": {
        "postgres": {
          "id": "cCL19pxDOJh2L8rn",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "vector_store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "vector_store1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "check_if_file_already_indexed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "respond_error_kb_does_not_exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "check_if_file_already_indexed": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.enlaight.ai",
            "user-agent": "PostmanRuntime/7.45.0",
            "content-length": "104",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br",
            "cache-control": "no-cache",
            "content-type": "application/json",
            "key": "f9c1a8e3b72d45f6904ae21c5d78b6ef",
            "postman-token": "2aed60c8-21a0-4420-98b5-9efbf043fe47",
            "x-forwarded-for": "187.10.137.168",
            "x-forwarded-host": "n8n.enlaight.ai",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "cc7667c5cd60",
            "x-real-ip": "187.10.137.168"
          },
          "params": {},
          "query": {},
          "body": {
            "hash_id": "o7gpvgd3m3njh5npkkqqpbpfibcg7fj2",
            "file": "HHRG-118-JU00-20240312-SD002.pdf"
          },
          "webhookUrl": "https://n8n.enlaight.ai/webhook/webhook/kb/file/delete",
          "executionMode": "production"
        }
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true
  }
}